@font-face {
    font-family: JetBrains Mono;
    src: url("assets/fonts/JetBrainsMono-Regular.ttf");
}

@font-face {
    font-family: JetBrains Mono;
    font-weight: bold;
    src: url("assets/fonts/JetBrainsMono-Bold.ttf");
}

* {
    font-family: "JetBrains Mono", monospace;
    margin-block-end: 0;
    margin-block-start: 0;
}

body,
header,
footer {
    transition: .8s ease-out;
}

:root {
    --black: #111;
    --offwhite: #cfcfcf;
    --white: #fff;
    --darktext: #222;
    --lighttext: #777;
    --lightgray: #f1f1f1;
    --darkgray: #d9d9d9
}

a {
    text-decoration: none;
    cursor: pointer;
    color: var(--lighttext);
}

h1 {
    font-size: 0.875rem;
    font-weight: 700;
    text-transform: uppercase;
}

header {
    color: var(--darktext);
    margin: 1rem 2rem;
    display: flex;
    justify-content: space-between;
}


#squiggle {
    border: 1px solid var(--lightgray);
    cursor: none;
    border-radius: 1.2rem;
    overflow: hidden;

}

#squiggle:hover {
    transition: 0.2s;
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(190deg) brightness(90%) contrast(97%);
    animation: pulse 3s infinite ease-in-out;
}

@keyframes pulse {
    0% {
        opacity: 50%;
    }

    50% {
        opacity: 100%;
    }

    100% {
        opacity: 50%;
    }
}


.toggle {
    position: absolute;
    cursor: pointer;
    opacity: 0;
}

.toggle+label {
    --toggle-color: var(--white);
    --toggle-bg-color: var(--darkgray);
    position: relative;
    padding-left: 3.25rem;
    line-height: 24px;
    cursor: pointer;
    transition: all .33s ease-out;
    font-size: 0.875rem;
}

.toggle+label:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    left: 0;
    width: 40px;
    height: 24px;
    border-radius: 1.25rem;
    background-color: var(--toggle-bg-color);
}

.toggle+label:after {
    content: "";
    position: absolute;
    top: 2px;
    bottom: 1px;
    left: 3px;
    width: 18px;
    height: 18px;
    margin: auto;
    transform: translate(0, 0);
    border-radius: 50%;
    background-color: var(--toggle-color);
    cursor: pointer;
    transition: transform 200ms;
}

.toggle:checked+label {
    --toggle-bg-color: var(--black);
}

.toggle:checked+label:after {
    transform: translate(16px, 0);
}


.intro {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    max-width: 40rem;
    margin: 3rem auto;
    animation: fade-in 1.2s ease-out;
}

@keyframes fade-in {
    from {
        transform: translateY(12px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.intro p {
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 145%;
}


.intro #message {
    padding: 0;
}

.intro a:hover {
    color: var(--darktext);
}

footer {
    font-size: .6rem;
    position: fixed;
    bottom: 1rem;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    display: flex;
    gap: 2rem;
}

footer a:hover {
    color: var(--darktext);
}

@media only screen and (max-width: 840px) {

    header {
        margin: 2rem 1rem;
    }

    .intro {
        margin: 2rem auto;
        padding: 0 1rem;
    }
}